body {
	margin: 0;
	padding: 2% 0 5%;
	background-color: #bbbbbb;
	height: 100%;
	width: 100%;
}

.about {
	width: 90%;
	margin: auto;
}

h1 {
	font-size: 70px;
	margin: 0;
	font-family: Impact, 'Arial Narrow Bold', sans-serif;
	text-align: center;
}

h1 .contornin {
	color: #000;
	-webkit-text-fill-color: #00bdf2;
	-webkit-text-stroke-width: 5px;
	-webkit-text-stroke-color: #000;
}

p {
	text-align: justify;
	font-size: 18px;
	color: #000;
	line-height: 2;
}

h2 {
	color: #000;
	-webkit-text-fill-color: #00bdf2;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	width: 70%;
	height: auto;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1;
}

.container img {
	height: 40vh;
	margin: auto;
}

#gaara {
	grid-column: 1/2;
	grid-row: 1/2;
}

#baiano {
	grid-column: 2/3;
	grid-row: 1/2;
}